<div class="container">
  <div class="create">
      <!-- <button type="button" class="btn btn-success">+New</button> -->
      <a routerLink="/new"
      class="btn btn-success">+New</a>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let readItem of backendService.allReads">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><a href="{{readItem.url}}">{{readItem.title}}</a>
            <span><a href="#"
              class="btn btn-sm btn-danger">Delete</a></span>
          </h4>
          <p class="card-text">{{readItem.description}}</p>
          <a href="#"
            class="btn btn-primary">Mark as Read</a>
        </div>
      </div>
    </div>
  </div>
</div>