<div class="container">
  <div class="create">
    <!-- <button type="button" class="btn btn-success">+New</button> -->
    <a (click)="createNewItem()"
      class="btn btn-success">+New</a>
  </div>
  <div class="row">
    <div class="col-sm-4"
      *ngFor="let readItem of allReads$ | async">
      <app-read-card [readItem]="readItem"
        (checkEvent)="toggleItemRead(readItem.id, !readItem.isRead)"
        (deleteEvent)="deleteItem(readItem.id)"
        (editEvent)="editItem(readItem)"></app-read-card>
    </div>
  </div>
</div>